	*
		{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
		}
		.banner
		{
			background-image: url(bn1.jpg);
			height: 597px;
			width: 100%;

			background-size:cover;
			background-position: -2px -4px;
		}
		.heading
		{
			/*background-color: gray;*/
			height: 28px;
			width: 90%;
			margin-left: 5%;
			padding-top: 30px;
			padding-bottom: 30px;
			display: inline-block;
			vertical-align: top;
		}
		.heading .ico
		{
			height: 22px;
			display: inline-block;
			vertical-align: center;
		}
		.heading a
		{
			font-family: "freight-sans-pro";
			font-size: 22px;
			font-style: normal;
			text-align: center;
			text-decoration: none;
			cursor: pointer;
			width: 50%;
	   		text-transform: uppercase;
	   		color: #FCFBFB;
	   		font-weight: bold;
	   		line-height: 28px;
	   		margin-left: 40%;
		}
		.textbox
		{
			height: 296px;
			width: 1012px;
			padding-top: 29px;
			/*background-color: #0a0b0a;*/
			align-content: center;
			margin-top: 120px;
			margin-left: 200px;
			/*opacity: 0.2;*/
		}
		.txt
		{
			font-family: segoe UI;
			font-weight: bold;
			opacity: 1;
			font-color: white;
			font-size: 60px;
			text-align: center;
			line-height: 80px;
			color: #FCFBFB;
		}