*
{
	margin:0px;
	padding: 0px;
}
.header
{
	background-color: black;
	height: 50px;
	width: 100%;	
	display: inline-block;
	margin-bottom: 0px;
}
.logo
{
	width: 15%;
	height: 50px;
	display: inline-block;
}
.navbar
{
	width: 35%;
	margin-left: 49.7%;
	height: 50px;
	/*background-color: lightgray;*/
	vertical-align: top;
	display: inline-block;
}
.navbar ul li
{
	display: inline-block;
	width: 18.7%;
	margin-left: 0.6%;
	height: 50px;
	vertical-align: top;
	line-height: 50px;
	text-align: center;
	font-family: segoe UI;
	color: white;
}
.navbar ul li:hover
{
	color: red;
	cursor: pointer;
}
.about 
{
	margin-top: 0px;
	background-image: url(a.jpg);
	height: 500px;
	width: 100%;
	/*margin-top: 0px;*/

}
.s
{
	color: white;
	width: 60%;
	height: 70px;
	font-size: 70px;
	margin-left: 20%;
	/*margin-top: 100px;*/
	font-family: segoe UI;
	padding-top: 80px;
	text-align: center;

}
.why
{
	height: 500px;
	width: 100%;
	/*background-color: gray;*/
	text-align: center;
	color: black;
	font-size: 50px;
	font-family: segoe UI;
	font-weight: bold;
}
.y
{
	width: 100%;
	height: 400px;
	/*background-color: lightblue;*/
	 /*border-top: 3px solid grey;
	 border-bottom: 3px solid grey;*/
}
.features
{
	width: 20%;
	margin-left: 5%;
	height: 200px;
	/*background-color: lightgray;*/
	margin-top: 100px;
	display: inline-block;
	box-shadow: 0px 0px 5px gray;
}

hr
{
	width: 75%;
	color: gray;
	margin-left: 15%;

}