
		body{
			margin: 0px;
		}
		.header
		{
			background-color: red;
			height: 500px;
			width: 1366px;
		}
		.content
		{
			height: 400px;
			width: 300px;
			background-color: yellow;
			margin-top: 50px;
			margin-left: 116.5px;
			display: inline-block;
		}
		
